@model IEnumerable<DomainModel.Order>


<h2>Заказы</h2>

<p class="btn btn-default">
    @Html.ActionLink("Добавить", "Create", "Orders")
</p>
<p></p>
<table class="table">
    <tr>
        <th>Номер заказа</th>
        <th>Время заказа</th>
        <th>Имя клиента</th>
        <th>Телефон</th>
        <th>Адрес</th>
        <th>Тип услуги</th>
        <th>Площадь газона</th>
        <th>Стоимость</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderTime)
        </td>
        <td>
            @foreach (var value in ViewBag.idClient)
        {
            if (item.idClient == value.idClient)
            {
                @Html.Raw((string)value.clientName);
        }
    }
            (id: @Html.DisplayFor(modelItem => item.idClient))

        </td>

        <td>
            @foreach (var value in ViewBag.idClient)
        {
            if (item.idClient == value.idClient)
            {
                @Html.Raw((string)value.clientPhone);
        }
    }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.lawnAdress)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.nameService)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.lawnArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalCost)
        </td>

    </tr>
    }

</table>
