@using DomainModel
@model DomainModel.IGenericRepository<Client>


<h2>Клиенты</h2>

<p class="btn btn-default">
    @Html.ActionLink("Добавить", "Create")
</p>
<p></p>
<table class="table">
    <tr>
        <th>Имя клиента</th>
        <th>Телефон</th>
        <th></th>
    </tr>

@foreach (var item in Model.GetAll()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientPhone)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.idClient }) |
            @Html.ActionLink("Детализация", "Details", new { id=item.idClient }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.idClient })
        </td>
    </tr>
}

</table>
