@model DomainModel.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотете удалить заказ @Html.DisplayFor(model => model.idOrder)?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Номер заказа</dt>

        <dd>
            @Html.DisplayFor(model => model.idOrder)
        </dd>


        <dt>Имя клиента</dt>

        <dd>
            @foreach (var value in ViewBag.idClient)
        {
            if (Model.idClient == value.idClient)
            {
                @Html.Raw((string)value.clientName);
        }
    }
        </dd>

        <dt>Услуга</dt>

        <dd>
            @Html.DisplayFor(model => model.nameService)
        </dd>

        <dt>Адрес</dt>

        <dd>
            @Html.DisplayFor(model => model.lawnAdress)
        </dd>

        <dt>Площадь</dt>

        <dd>
            @Html.DisplayFor(model => model.lawnArea)
        </dd>

        <dt>Стоимость</dt>

        <dd>
            @Html.DisplayFor(model => model.totalCost)
        </dd>

        <dt>Время</dt>

        <dd>
            @Html.DisplayFor(model => model.orderTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />

        </div>
    }
        <p></p>
        <div class="btn btn-default">
            @Html.ActionLink("Отмена", "Index")
        </div>
</div>
