@model IEnumerable<DomainModel.Order>


<h2>Заказы</h2>

<p class="btn btn-default">
    @Html.ActionLink("Добавить", "Create")
</p>
<p></p>
<table class="table">
    <tr>
        <th>Номер заказа</th>
        <th>Имя клиента</th>
        <th>Тип услуги</th>
        <th>Адрес</th>
        <th>Площадь газона</th>
        <th>Стоимость</th>
        <th>Время заказа</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idOrder)
        </td>
        <td>
            @foreach (var value in ViewBag.idClient)
            {
                if (item.idClient == value.idClient)
                {
                    @Html.Raw((string)value.clientName);
                }
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nameService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lawnAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lawnArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderTime)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.idOrder }) |
            @Html.ActionLink("Детализация", "Details", new { id = item.idOrder }) |
            @Html.ActionLink("Удаление", "Delete", new { id = item.idOrder })
        </td>
    </tr>
}

</table>
